.container {
    width: 28rem;
    height: 72vh;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 110px;
    left: 35%;
}