@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');

.list-box {
    height: 55%;
    overflow-y: auto;
}

.list-box .empty {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    color: #a9a9a9;
}

.list-box::-webkit-scrollbar {
    width: 5px;
}

.list-box::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #2b5876, #4e4376);
    border-radius: 10px;
}

.list-box::-webkit-scrollbar-track-piece:start {
    margin-top: 20px;
}

.list-box::-webkit-scrollbar-track-piece:end {
    margin-bottom: 20px;
}

