
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.task-box {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right,
    #f46b45,
    #eea849);
    margin: 20px 0;
}

.task-box p {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.task-box input {
    border: none;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 8px;
}

.task-box .icon-list {
    width: 20%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.task-box .icon-list .icon:nth-child(odd) {
    color: red;
    cursor: pointer;
}

.task-box .icon-list .icon:nth-child(even) {
    color: green;
    cursor: pointer;
}